extends base.pug

block content
    
    div(class="dashboard")
        p 
            img(src="./images/autumn-hills-logo.svg")
        
        // The statement below determines the time of day. The time of day 
        // depends on the greeting the user receives
        - let d = new Date();
        - let hours = d.getHours();
        - let greeting = "";
        if hours < 12
            - greeting = "Morning";
        else if hours >= 12 && hours < 17
            - greeting = "Afternoon";
        else if hours >= 18
            - greeting = "Evening";

        h2 Good #{greeting} #{FirstName}
        div(class="reservations")
            div(class="teeTimes")
                h3
                    b Upcoming Tee Times
                // The conditionals below will check the tee times that were queried from the
                // getTeeTimeService and append 'am' or 'pm' to them.
                - let i;
                - let hourOfDay = "";
                - for(i = 0; i < TeeTime.length; i++) {
                    if TeeTime[i].Time.substring(0, 2) == 12
                        - hourOfDay = "pm";
                    else if TeeTime[i].Time.charAt(0) >= 1 && TeeTime[i].Time.charAt(0) <= 5
                        - hourOfDay = "pm";
                    else
                        - hourOfDay = "am";
                    
                    p #{TeeTime[i].Date.substring(5, 7)}/#{TeeTime[i].Date.substring(8, 10)}/#{TeeTime[i].Date.substring(0, 4)} at #{TeeTime[i].Time}#{hourOfDay}
                - }
                p
                    a(href="/tee-times") Book a Tee Time
            //div(class="restaurant")
                p No new items

